<script language="javascript">
    $(document).ready(function(){
        var route = window.location.pathname.substring(1,window.location.pathname.length);
        $(".navbar.ui.menu .item").removeClass("active");
        if(route == "") {
            $("#btn-home").addClass('active');
        } else if(route.substring(0,4) != "user") {
            $("#btn-" + route).addClass('active');
        }   
    });
</script>
</body>
</html>