<div id="bottom-navbar" class="ui fluid menu">
    <a class="ui animated fluid button" href="https://github.com/nickmly/social-media">
        <div class="visible content">
            <i class="large github icon"></i>
        </div>
        <div class="hidden content">
            View the code on GitHub<i class="github icon"></i>
        </div>
    </a>
</div>
<% if(currentUser) { %>
    <div style="display:none;" class="user-id" id="<%= currentUser._id %>"></div>
<% } %>
<script language="javascript">
        window.sendAjax = function(url, successText, otherButton) {     
            var user_id = $(".user-id").attr('id');       
            $.ajax({
                type: 'GET',                   
                url: url,
                data: {
                    user_id: user_id
                },
                success: function(data){
                    successText.text(data);                    
                }
            });
        };

        window.likePost = function(element){
            var post_id = element.attr('id'); // Post id is stored as the div 
            post_id = post_id.substring(1, post_id.length);// Remove first letter from ID            

            var likeText = element.find("div:nth-of-type(2) > span");
            var button = element.find("div:first");
            var otherButton = element.siblings().find("div:nth-of-type(2)"); // The dislike button
            var url = "/post/" + post_id + "/like";
            if(otherButton.hasClass("active"))
                return dislikePost(otherButton.parent());
            button.toggleClass("blue").toggleClass("active");         
            
            sendAjax(url, likeText, otherButton);          
        };

        window.dislikePost = function(element) {
            var post_id = element.attr('id'); // Post id is stored as the div 
            post_id = post_id.substring(1, post_id.length);// Remove first letter from ID

            var dislikeText = element.find("div:first > span");
            var button = element.find("div:nth-of-type(2)");
            var otherButton = element.siblings().find("div:first"); // The like button
            var url = "/post/" + post_id + "/dislike";      
            if(otherButton.hasClass("active"))
                return likePost(otherButton.parent());
            button.toggleClass("red").toggleClass("active");            
            
            sendAjax(url, dislikeText, otherButton);
        };

        
        $(".ui.message .icon").on("click", function(){
            $(this).parent().hide();
        });

        $(".btn-rating.btn-like").on('click', function(){       
            likePost($(this));          
        
        });
        $(".btn-rating.btn-dislike").on('click', function(){
            dislikePost($(this));
        });
    $(document).ready(function(){
        var route = window.location.pathname.substring(1,window.location.pathname.length);
        $(".navbar.ui.menu .item").removeClass("active");
        if(route == "") {
            $("#btn-home").addClass('active');
        } else if(route.substring(0,4) != "user" && route.substring(0,4) != "post") {
            $("#btn-" + route).addClass('active');
        }   
    });
</script>
</body>
</html>