<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>Social Media</title>
</head>

<body>
    <div class="navbar ui secondary pointing orange menu">        
        <a id="btn-home" href="/" class="item">
            <i class="home icon"></i> Home
        </a>
        <% if(currentUser) { %>
            <div class="right menu">
                <p class="item">
                    Signed in as <%= currentUser.username %>
                </p>
                <a id="btn-logout" href="/logout" class="item">
                    <i class="sign out icon"></i> Logout
                </a>          
            </div>
        <% } else { %>
            <div class="right menu">
                <a id="btn-login" href="/login" class="item">
                    <i class="sign in icon"></i> Login
                </a>
                <a id="btn-register" href="/register" class="item">
                    <i class="add user icon"></i>Sign Up
                </a>
            </div>
        <% } %>     
    </div>
